
  
  
  .form-control input{
    outline: none !important;
    border: none !important;
    color: yellow;
   
  }
  /* .form-control:focus{
    outline: none !important;
    color: red;
  
  
  } */
  .form-control:focus{
  border: none !important;
    outline: none !important;
   
  }
   
   
   input,
  textarea{
    outline: none;
  
  
  } 
  
   
  input:focus,
  textarea:focus{
  background-color:  #f3f3f3f3;
    
  } 