@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Ubuntu&display=swap');


.form-control,.react-select{
    background-color: #f3f3f3;
}
.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: linear-gradient(50% black, 50%white);
}

.sub-container input {
    height: 148px;
    width: 154px;
    border-radius: 50%;
}

.sub-container input img {
    align-self: center;
    width:120px
}

.sub-container button .btn {
    z-index: -1;
}

.sub-container button a {
    z-index: 1000;
    color: #212529 !important;
    font-weight: bold;
}

.sub-container h3 {
    height: 1rem;
    width: 300px;
    -ms-high-contrast-adjust: 20.47;
    position: relative;
    top: 20px;
    text-align: center;
    letter-spacing: 0em;
    font-family: " Ubuntu";
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0em;
    left: 0px;
    margin-bottom: 25px;
}

.sub-container button {
    display: inline-block;
    position: relative;
    color: #000;
    background-color: #f8c800;
    left: 0;
    z-index: 3;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0em;
    color: #000000;
    font-family: "Ubuntu";
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
}




/* registration form */


.registration-form div h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.span {
    line-height: 3;
    display: inline-block;
    background-color: #f8c800 !important;
    padding: 10px;
    z-index: -1;
}


/* .registration-form .span::after {
    content: '\e866';
} */

#main-btn{
    position: relative;
    top: 30px;
    left:70px

}

.span .fas {
    margin-left: 80px
}

.span h4 {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

.registration-form span h4 {
    font-size: 16px;
}

.form1 label {
    color: #8F8F8F;
    font-family: "Ubuntu";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}


.fine {
    position: relative;
}

.fine h2 {
    position: relative;
    left: 10px;
    font-size: 20px;
    top: 80px;
}

.fine h3 {
    position: relative;
    left: 165px !important;
    font-size: 20px;
    top: 180px;
    font-weight: bold;
}

.fine .fas {
    left: 100px;
    position: relative;
    top: -40px;
    margin-bottom: 20px;
}

#fine {
    border: 3px dashed #C4C4C4;
    border-radius: 5px;
    margin-bottom: 0;
}

.fine #fas {
    left: 250px;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}

#accepted,
.secured {
    color: #C4C4C4;
    margin-top: 0;
    height: 18px;
    font-family: "Ubuntu";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.sub-registration-form {
  
    padding-top: 20px;
    border-radius: 12px 12px 0 0;
    margin-top:20px !important

}




#adText{
    width: 466px;
    height: 62px;
}

input:focus,
select:focus,
textarea:focus,
.form-control:focus {
    border: #EBBA32 5px solid;
    color: rgba(0, 0, 0);
}

.form-control:focus {
    outline: none;
}





iframe {
    border-radius: 4px;
    height:200px
}



#checkbox-container {
    display: flex;
    gap: 20px;
    margin: 12px;
}

.sub-registration-form form h2,
.sub-registration-form .location h2 {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
  
    text-align: left;
    text-transform: capitalize;
    color: #000000;
}

.buttons {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 15px;
}

.input {
    padding: 20px;
}

.input i {
    width: 20px;
    height: 20px;
    margin: 10px
}

.list-group-item:focus {
    outline: none
}
.svg {
    width: 20px;
    line-height: 16px;
    font-size: 16px;
    height: 20px;
    font-weight: 900;
    color: #3A4151;
    margin-right: 20px;
}
.sub-registration-form{
width:inherit
}
 
iframe{
    height: 200px !important;
}




