
  button {
    border: 1px solid #EBBA32;
    border-radius: 5px;
    background: #EBBA32;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
  
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background: transparent;
    border-color: #fff;
    border-radius: 10px;
  }

  button.login-button{
    border-radius: 10px;
  }

  button.signup-button{
    border-radius: 10px;
  }
  